.room-button {
  text-transform: none !important;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.selected {
  background-color: #2196f3 !important;
  color: white !important;
}

.start-square {
  background-color: green !important;
  color: white !important;
}

.destination-square {
  background-color: red !important;
  color: white !important;
}

  /* Ensure scroll box works on small screens */
  @media (max-width: 768px) {
    .room-button {
      font-size: 0.9rem;
    }
  }